@import url(https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,latin-ext);

body {
    color: black;
    background-color: #efefff;
    
    font-size:   1.4em;
    font-family: "EB Garamond", serif;
    line-height: 2rem;

    margin: 0 0 0 1.4em;
    max-width:  30em;
}

h1, h2, h3 { font-weight: normal; }
h1 { font-size: 1.44em; margin-top: 1.2em; }
h2 { font-size: 1.33em; }
h3 { font-size: 1.11em; }

nav {
    margin: 1.2em 0 0 0;
    font-size: 1.1em;
}

footer {
    font-size: 0.7em;
    line-height: 1.5rem;
    padding:   1em 0 1em 0;
    color:     #444;
}

code {
    font-size:   0.9em;
    font-family: monospace;
    line-height: 0.5rem;
}
.sourceCode { margin: 1.5em 0 1.5em 0; }

time {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color:           #2222aa;
}

li { list-style-type: none; }

.sourceCode span.kw { color: #0040aa; }
.sourceCode span.dt { color: #901040; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; }
.sourceCode span.ot { color: #0040aa; }
.sourceCode span.al { color: red;     }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re {                 }
.sourceCode span.er { color: red;     }
