html {
    font-family: serif;
    font-size: 1vh;
}

code {
    font-family: monospace;
    font-size: 0.9vh;
}

body {
    width: 70%;
    max-width: 40rem;
    margin: 10% auto;
}

footer {
    font-size: 0.9rem;
    padding: 1rem 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

p code, li code {
    font-family: serif;
    font-style: italic;
}
