<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/style/style.css">
<title>$title$</title>
$if(landingPage)$
<header>
  <h1>Yghor Kerscher</h1>
  <p>
    is an Industrial Design researcher working on <a href="https://www.fpcomplete.com">DevOps</a>.<br>You can contact me through <a href="https://www.linkedin.com/in/yghorkerscher">LinkedIn</a>.
  </p>
</header>
$endif$

$if(landingPage)$
<nav>
  $body$
</nav>
$else$
<article>
  <h1>$title$</h1>
  $body$
</article>
<footer>
  Written by <a href="https://github.com/kerscher">Yghor Kerscher</a>
  using      <a href="http://jaspervdj.be/hakyll">Hakyll</a>.<br>
   <a href="https://github.com/kerscher/kerscher.github.io/tree/source">Source code for this website</a> is available on an <a href="https://github.com/kerscher/kerscher.github.io/blob/source/LICENCE.md">open-source licence</a>.
</footer>
$endif$
