<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>$title$</title>
        <link rel="stylesheet"
              type="text/css"
              href="/style/style.css">
    </head>
    <body>
        <div id="content">
            <h1>$title$</h1>
            <p>
                is an Industrial Design researcher working on<br><a>interaction evaluation models</a>, <a>public policy analysis</a><br>and <a>development operations</a>.
            </p>
            $body$
        </div>

        <div id="footer">
            Made with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>
    </body>
</html>
